<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Processing Pipeline</title>
</head>

<body>
    <input type="file" name="file" id="file_input">
    <button id="upload_button">
        upload
    </button>

    <div id="status_box">

    </div>
    <script>
        const fileInput = document.getElementById("file_input")
        const uploadButton = document.getElementById("upload_button")
        const status_box = document.getElementById("status_box");
        
        let interval;

        uploadButton.addEventListener("click", async () => {
            console.log("upload button clicked");

            if (fileInput.files.length == 0) {
                alert("Please select a file first");
                return;
            }

            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append("file", file);

            try {
                status_box.innerText = "Uploading..."
                const res = await fetch(`/api/upload`, {
                    method: "POST",
                    body: formData
                });


                if (!res.ok) {
                    status_box.innerText = "Upload failed"
                    const errtxt = await res.text();
                    throw new Error(errtxt || "Upload failed")
                };

                status_box.innerText = "Uploaded!"

                const result = await res.text()
                console.log("Server Response: ", result);

                const videoId = result.split(" ")[1].split(".")[0];
                // console.log("Video ID: ", videoId);

                interval = await setInterval(() => {
                    pingStatusAPI(videoId)
                }, 1000)


            } catch (err) {
                clearInterval(interval);
                console.error("Upload error: ", err);
            };

        });

        async function pingStatusAPI(videoId) {
            console.log("Video ID: ", videoId);

            const statusRes = await fetch(`/api/status/${videoId}`, {
                method: "GET"
            })

            if (!statusRes.ok) {
                clearInterval(interval)
                const errtxt = await statusRes.text();
                throw new Error(errtxt || "Status fetch failed")
            };

            const json = await statusRes.json();
            console.log("status: ", json.status);
            status_box.innerText = json.status

            if (json.status.includes("completed") || json.status.includes("failed")) {
                clearInterval(interval)
            }
        }


    </script>
</body>

</html>